<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <context-param>
  <param-name>bucket_name</param-name>
  <param-value>insights-producao</param-value>
 </context-param>
 <context-param>
  <param-name>context-root</param-name>
  <param-value>insights</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>
  	/WEB-INF/navigation/twitter-analyzer-nav.xml
  </param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Production</param-value>
 </context-param>
 <context-param>
  <param-name>org.primefaces.extensions.DELIVER_UNCOMPRESSED_RESOURCES</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.FONT_AWESOME</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>bootstrap</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.UPLOADER</param-name>
  <param-value>auto</param-value>
 </context-param>
 <context-param>
  <param-name>uf_municipio</param-name>
  <param-value>ce_missaovelha</param-value>
 </context-param>
 <context-param>
  <!-- S = SIM, N = NAO -->
  <param-name>usa_filter_url</param-name>
  <param-value>N</param-value>
 </context-param>
 <filter>
  <filter-name>shiroFilter</filter-name>
  <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  <async-supported>true</async-supported>
 </filter>
 <filter>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>shiroFilter</filter-name>
  <url-pattern>/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
  <dispatcher>ERROR</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <listener>
  <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  <async-supported>true</async-supported>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <mime-mapping>
  <extension>woff</extension>
  <mime-type>application/font-woff</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>eot</extension>
  <mime-type>application/vnd.ms-fontobject</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>ttf</extension>
  <mime-type>application/octet-stream</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>svg</extension>
  <mime-type>image/svg+xml</mime-type>
 </mime-mapping>
 <welcome-file-list>
  <welcome-file>app/index.xhtml</welcome-file>
 </welcome-file-list>
 <error-page>
  <exception-type>org.jboss.weld.context.NonexistentConversationException</exception-type>
  <location>/errorNoConversation.xhtml?nocid=true</location>
 </error-page>
 <error-page>
  <exception-type>javax.faces.application.ViewExpiredException</exception-type>
  <location>/errorNoConversation.xhtml?nocid=true</location>
 </error-page>
 <error-page>
  <exception-type>javax.servlet.ServletException</exception-type>
  <location>/error500.xhtml?nocid=true</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/error500.xhtml?nocid=true</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/error404.xhtml?nocid=true</location>
 </error-page>
</web-app>
